

@font-face {
  font-family: 'technical';
  src: url('/fonts/Kalmansk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'creative';
  src: url('/fonts/SyneMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'neutral';
  src: url('/fonts/chido.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}

html, body, #root, .app-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; 
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.full-screen-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.full-screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bg-dup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/home-bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.bg-dup.bg-from-creative{
  background-image: url('/images/creative-bg.jpg'); 
  background-position: left;
}

.bg-dup.bg-from-technical{
  background-image: url('/images/technical-bg3.jpg'); 
  background-position: right;
}