.creative-view {

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: left;  
  z-index: 1;
  display:flex;
  align-items: center;
}

.creative-view .view-content {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.creative-wrapper .signature{
  right: auto;
  left: 0%;
  transform: translateX(40px);
}

.creative-wrapper .layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;

  display: grid;
  grid:
    "page-top page-top" 60px 
    "side     body" 1fr
    "page-bot page-bot" 30px
    / 2fr     8fr; 
  row-gap: 0px;
  column-gap: 10px;
}

.creative-wrapper .page-top { grid-area: page-top; }
.creative-wrapper .body { 
  grid-area: body; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creative-wrapper .side { grid-area: side; }
.creative-wrapper .page-bot { 
  display: flex;
  grid-area: page-bot;
  justify-content: flex-start;
  align-items: flex-end;
}

.creative-intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  z-index: 5;
  pointer-events: none;
}

.creative-wrapper h1{
  font-size: 120px;
  font-weight: 100;
  margin-bottom: 14px;
  background-image: url("/images/creative-bg.jpg");
  background-position: center left;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  user-select: none;
  transform: translateY(-50%)
}
