


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.home-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/home-bg.jpg');
}

.default-home-bg{
 background-image: url('/images/home-bg.jpg'); 
}

.creative-home-bg{
 background-image: url('/images/creative-bg.jpg');  
 background-position: left;  
 background-size: cover;
}

.technical-home-bg{
 background-image: url('/images/technical-bg3.jpg');  
 background-position: right;
 background-size: cover;
}

.oval-container {
  
  padding: 3px 5px;

  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px; 
}

.icon-hover-wrapper {
  position: relative;   
  display: flex;
  flex-direction: column;
  align-items: center; 
  cursor: default;
}

.icon-description {
  position: absolute;
  bottom: -40px;
  white-space: nowrap;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  pointer-events: none; 
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: 4px;
}

.portrait-description .icon-description {
  bottom: -45px;
}

.icon-description::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);

  /*trick for making a triangle to point at icons */
  /* make an empty div and set borders like this, can change arrow direction using border-top too. */
  border-left: 6px solid transparent;  /* Left side of the triangle (transparent) */
  border-right: 6px solid transparent; /* Right side of the triangle (transparent) */
  border-bottom: 6px solid rgba(0, 0, 0, 0.7); /* Bottom side of the triangle (matches background color) */
}

.icon{
  width: 40px;
  height: 40px;
  z-index: 1;
}

.portrait{

  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;

  border-radius: 50%;
  z-index: 2;
}

.page-title {
  position: relative;
  top: 20px;
  z-index: 4;

  color: white;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-weight: bold;
  white-space: nowrap;
}

.header-container{
  position: absolute;
  top: 20px;
  z-index: 5;
}

.full-background-layer{
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  z-index: 1;
  display:flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
}

.left-half {
  background-image: url('/images/technical-bg3.jpg');
  background-position: right ;
}

.right-half {
  background-image: url('/images/creative-bg.jpg');
  background-position: left;
}


.half-content {
  
  text-align: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

  max-width:450px;
  min-width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.left-content {
  font-family : 'technical';
  color: black;
  font-size: 3vw;
  transform: translateX(25vw);
  letter-spacing: 2px;
  
  /* text-shadow:
    -1px -1px 0 #A56A6F,
     1px -1px 0 #A56A6F,
    -1px  1px 0 #A56A6F,
     1px  1px 0 #A56A6F; */
}

.left-content h2 {
  font-weight: 100;
  margin-bottom: 14px;
  background-image: url("/images/creative-bg.jpg");
  background-position: center left;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.right-content {
  font-family: 'creative';
  color: white;
  font-size: 2.5vw;
  transform: translateX(-25vw);
  /* text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; */
}

.right-content h2 {
  font-weight: 100;
  margin-bottom: 8px;
  background-image: url("/images/technical-bg3.jpg");
  background-position: center;
  background-size: 100vw 100vh;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.signature{
 font-family: 'neutral';
  color: orange;
  font-size: 25px;
  z-index: 5;
  position: absolute;
  pad: 1px;
  bottom:20px;
  white-space: nowrap;
}

.half-signature{
  font-family: 'neutral';
  color: orange;
  font-size: 48px;
  z-index: 5;
  position: absolute;
  pad: 1px;
  bottom:20px;
  white-space: nowrap;
}

.home-button{
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  pad: 1px;
  bottom:20px;
}
