.home-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.full-background-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;  
  z-index: 1;
  display:flex;
  align-items: center;
}

.left-half {
  background-image: url('/images/creative-bg.jpg');
  background-position: right;
  justify-content: right
}

.right-half {
  background-image: url('/images/technical-bg.jpg');
  background-position: left;
  justify-content: left;
}

.page-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  color: white;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}

.half-content {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px;
  transform: translate(0, -50px); 
}