.home-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.page-header{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.portrait{
  position: relative;
  background-image: url('/images/me.jpg')
}

.page-title {
  position: relative;
  top: 20px;
  z-index: 4;

  color: white;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  font-weight: bold;
  white-space: nowrap;
}



.full-background-layer{
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  z-index: 1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.left-half {
  background-image: url('/images/technical-bg3.jpg');
  background-position: right ;
}

.right-half {
  background-image: url('/images/creative-bg.jpg');
  background-position: left;
}




.half-content {
  
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  max-width:450px;
  min-width: 280px;
}



.left-content {
  font-family : 'technical';
  color: black;
  font-size: 3vw;
  transform: translateX(25vw);
  letter-spacing: 2px;
  
  text-shadow:
    -1px -1px 0 #A56A6F,
     1px -1px 0 #A56A6F,
    -1px  1px 0 #A56A6F,
     1px  1px 0 #A56A6F;
}

.left-content h2 {
  font-weight: 100;
  margin-bottom: .5em;
}

.left-content p {
  line-height: ;
}

.right-content {
  font-family: 'creative';
  color: white;
  font-size: 2.24vw;
  transform: translateX(-25vw);
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.right-content h2 {
  font-weight: 300;
  margin-bottom: 1.2em;
  margin-top: 1em;
}
