.page-container {
  background-image: url('/images/technical-bg3.jpg');
}

.header-container{
  position: absolute;
  top: 10px;
  z-index: 11;
  left: 100%;
  transform: translateX(-110%)
}


.technical-view .full-screen-view{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: right;  
  z-index: 1;
  display:flex;
  align-items: center;
}

.technical-view .view-content {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.technical-wrapper .layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;

  display: grid;
  grid:
    "page-top page-top" 60px 
    "body     side" 1fr
    "page-bot page-bot" 30px
    / 8fr     2fr; 
  row-gap: 0px;
  column-gap: 10px;
}


.technical-wrapper .body { 
  grid-area: body;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  margin:10px;
}

.technical-wrapper .page-top{
  grid-area: page-top;
  display: flex;
  justify-content: flex-end;
}

.technical-wrapper .page-bot{
  grid-area: page-bot;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
.technical-wrapper .side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.technical-wrapper .slideshow-container{

  outline: 2px solid rgb(70, 93, 124);
  outline-offset: -4px;

}

.sidebar{
  opacity: 1; 
  width: 80%;
  height: calc(100% - 10px);
  padding-right: 30px;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar iframe{
  width:80%;
  border:none;
  aspect-ratio: 1/0.8;
  padding-top: 10px;
  align-self: center;
}

.sidebar img{
  max-width: 100%;
  height: auto;
}

.sidebar-content{
  padding: 10px;
  background-color: rgba(170, 170, 170, 0.7);
  flex-grow: 1;
  border-radius: 10px;
  outline: 2px solid rgb(70, 93, 124);
  outline-offset: -4px;
}

.sidebar-content h1{
  font-weight: 100;
  background-image: url("/images/creative-bg.jpg");
  background-position: center left;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: left;
  margin: 5px;
}

.sidebar-content p{
  opacity: 1;
  margin: 2px;
}

.sidebar-content details{
  cursor: pointer;
  margin: 10px;
}

.sidebar-content details a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin: 0 2px;
  position: relative;
  font-size: 1em;
}

.sidebar-content details a:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(70, 93, 124);
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

.sidebar-content details a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}

.technical-view .header-container {
  
  position: relative;
  z-index: auto;
  transform: translateX(-10%);
  padding-bottom: 20px;
}

.technical-wrapper .signature{
  left: auto;
  right: 0%;
  transform: translateX(-40px);
}


.technical-intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  z-index: 5;
  pointer-events: none;
}

.technical-summary{
  position: relative;

  width: 70%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  right: 6%;
  align-self: end; 
}

.technical-summary h1{
  
  font-weight: 100;
  background-image: url("/images/creative-bg.jpg");
  background-position: center left;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.technical-summary p{
  color: black;
  text-align: center;
}

.project-summary a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  margin: 0 2px;
  position: relative;
}

.project-summary a:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(184, 71, 37);
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

.project-summary a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}


.project-card{
  align-self: end;
  width: 80%;
  margin-left: auto;

  display:flex;
  flex-direction: row;
  background-color: rgba(170, 170, 170, 0.7);
  flex-wrap: nowrap;
  padding: 10px;
  border-radius: 10px;
  outline: 2px solid rgb(184, 71, 37);
  outline-offset: -4px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 0;
}

.project-card img{
  object-fit: contain;
  width: 20vw;
  height: 15vw;
  align-self: center;
}

.project-card .slideshow-container{
  flex: 0 0 30%;
  height: 100%;
  align-self: center;
  flex-grow: 0;
  margin-left: auto;
  padding: 0;
  transform: translateX(12%);
}

.img-container{
  padding-left: 10px;
}

.project-summary{
  height: 100%;
  display:flex;
  flex-direction: column;
  background-color: rgba(170, 170, 170, 0.7);
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 20px;
}

.project-summary h1{
  margin: 5px;
  font-weight: 100;
  background-image: url("/images/creative-bg.jpg");
  background-position: center left;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.project-summary p{
  text-align: right;
  margin: 10px;
}
.project-summary a{
  margin-left: 5px; 
  margin-right: 5px;
}

